{% extends "layout.html" %}
{% block title %}Passwort vergessen{% endblock %}
{% block content %}
<div class="login-container">
  <h1>Passwort vergessen</h1>
  <form action="/forgot-password" method="POST" class="login-form">
    <div class="form-group">
      <label for="email">E-Mail-Adresse:</label>
      <input type="email" id="email" name="email" required placeholder="Deine E-Mail-Adresse">
    </div>
    <div class="form-group">
      <button type="submit" class="login-button">Passwort zurücksetzen</button>
    </div>
  </form>
  <div class="login-footer" style="display: flex; justify-content: flex-start; gap: 40px; margin-top: -10px; padding-left: 3em;">
    <div><p style="margin: 0;">Noch keinen Account? <a href="/registration">Jetzt registrieren!</a></p></div>
    <div><p style="margin: 0;">Bereits registriert? <a href="/login">Anmelden!</a></p></div>
  </div>
</div>
{% endblock %}