{% extends "layout.html" %}
{% block title %}Passwort vergessen{% endblock %}
{% block content %}
    <h1>Datenschutz & Urheberrecht</h1>
    <p>Alle Inhalte dieser Website unterliegen dem Urheberrecht. Jegliche Verwendung, Reproduktion oder Weitergabe – auch auszugsweise – ist ohne ausdrückliche Genehmigung nicht gestattet.</p>
    <p>ImmunTrack verpflichtet sich zur Einhaltung höchster Datenschutzstandards. Ihre Daten werden ausschließlich gemäß geltender Gesetze verarbeitet.</p>

{% endblock %}